<ion-view view-title="Home Page">
  <ion-content class="padding">
    
  	<h1>{{ homeCtrl.message }}</h1>
  	<button class="button button-stable" ng-click="homeCtrl.doLogout()">
	  Logout
	</button>

  </ion-content>
</ion-view>