<ion-modal-view>
	
	<ion-header-bar class="bar bar-header bar-positive">	
		<h1>Login Modal</h1>
		<button ng-click="modal.hide()">
			Close
		</button>
	</ion-header-bar>

	<ion-content>
		This is Modal Dialog
	</ion-content>

</ion-modal-view>