<ion-view view-title="Tab One">
	<ion-content>
		<ion-item ng-repeat="item in ctrlTwo.myList">
		    Hello, {{item}}!
		</ion-item>
		<ion-infinite-scroll
			ng-if="ctrlTwo.loadStop"
		    on-infinite="ctrlTwo.loadMoreItems()"
		    distance="1%">
		</ion-infinite-scroll>
	</ion-content>
</ion-view>