<ion-view view-title="Tab One">
	<ion-content>

	<ion-refresher
	    pulling-text="Pull to refresh..."
	    on-refresh="ctrl.doRefresh()">
	</ion-refresher>

	<br/><br/>

	<button ng-click="ctrl.showActionSheet()">Give me Action Sheet!</button


	<br><br>


  <div collection-repeat="item in ctrl.items">
    {{ item }}
  </div>

  <br><br>

  <button ng-click="ctrl.showLoader()">Give Me Loader</button>

  <br><br>

  	<button ng-click="ctrl.showModal()">Give Me Modal</button>

  <br/></br>

  <button ng-click="ctrl.showPopUp()">Give Me Popup</button>

  <br></br>

	<!--<ion-footer-bar align-title="left" keyboard-attach class="bar-assertive">
		<input type="text" value="test" style="width:100%"/>
	</ion-footer-bar>-->

	</ion-content>
</ion-view>
