<ion-view view-title="Dashboard">
  <ion-content class="padding">
    <h2>Welcome to Ionic</h2>
    
    <button ng-click="getPicture()" class="button button-stable">Get Picture</button>
    <br/>
    <br/>
    <button ng-click="takePicture()" class="button button-stable">Take Picture</button>
    <br/>
    <br/>
    <button ng-click="loginFacebook()" class="button button-stable">Login via FB</button>
    <br/>
    <br/>
    <button ng-click="share()" class="button button-stable">Sharing is caring</button>

  </ion-content>
</ion-view>
