<ion-tabs class="tabs-positive tab-icon-top">
	<ion-tab class="One" icon-on="ion-ios-filing" icon-off="ion-ios-filing-outline" href="#/tab/one">
		<ion-nav-view name="tab-one"></ion-nav-view>
	</ion-tab>
	<ion-tab class="Two" icon-on="ion-ios-clock" icon-off="ion-ios-clock-outline" href="#/tab/two">
		<ion-nav-view name="tab-two"></ion-nav-view>
	</ion-tab>
</ion-tabs>